<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL_Shortner</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div>
      <!-- To write CSS in a File you have to create public folder with file -->
      <form action="/short" method="POST">
        Paste URL :
        <input
          type="text"
          name="longUrl"
          placeholder="Enter the URL to shorten"
        />
        <button type="submit">Submit</button>
      </form>
      <% if(shortUrl) { %>
      <p>
        Short Url : <a href="<%= shortUrl %>" target="_blank"/>
        <%= shortUrl %>
      </p>
      <% } %>
    </div>
  </body>
</html>
